<!DOCTYPE html>

<html lang="en">



<head>

  <meta charset="UTF-8" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Basic Vue Js - HelloWorld App</title>



  <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->

  <!-- Using via Google Web Fonts -->

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />



  <!-- https://tailwindcss.com/docs/installation -->

  <!-- Using Tailwind via CDN -->

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />



  <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->

  <!-- Vue CDN -->

  <script src="https://unpkg.com/vue@next"></script>
  

  <!-- Validate -->

  <script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.13.1/validate.min.js"></script>



</head>



<body>
<div id="app">
  <div class="py-20 h-screen bg-gray-300 px-2">
    <div class="max-w-md mx-auto bg-white bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 rounded-lg overflow-hidden md:max-w-sm h-64">
        <div class="flex justify-center items-center w-full h-full">
            <div class="flex flex-col items-center"> <img v-bind:src="pic" width="80" class="rounded-full">
                <h1 class="text-xl text-white font-medium">{{firstname}} {{lastname}}</h1> <span class="text-sm text-white">{{nickname}} {{age}}</span>
            </div>
        </div>
    </div>
    <form @submit.prevent="checkForm" >
      <div class="container w-2/5 p-8 mx-auto mt-10 border rounded-lg bg-blue-100" >
          <h1 class="text-2xl pt-4 pb-4">Registration Form</h1>
          <p v-if="errors" class="text-red-500">
              <b>Please correct the following error(s):</b>
              <ul>
                 <li v-for="error in errors" class="text-red-500 "  >"{{error[0]}}"</li> 
              </ul>
          </p>
          <div class="grid grid-cols-2 gap-4" >
              <div class="flex flex-col">
                  <label for="firstname" class="text-sm leading-7 text-gray-600">First Name</label>
                  <input type="text" id="firstname" v-model="fname" name="firstname" class="bg-gray-100 rounded px-4 py-2 mb-4">
                  <p class="text-red-500 text-xs" v-for="(error,index) in errors" @submit.prevent="checkError(index)"></p>
                </div>
              <div class="flex flex-col">
                  <label for="lastname" class="text-sm leading-7 text-gray-600">Last Name</label>
                  <input type="text" id="lastname" v-model="lname" name="lastname" class="bg-gray-100 rounded px-4 py-2 mb-4">
              </div>
              <div class="flex flex-col">
                  <label for="nickname" class="text-sm leading-7 text-gray-600">Nick Name</label>
                  <input type="text" id="nickname" v-model="nname" name="nickname" class="bg-gray-100 rounded px-4 py-2 mb-4">
              </div>
              <div class="flex flex-col">
                <label for="age" class="text-sm leading-7 text-gray-600">Age</label>
                <input type="text" id="age" v-model="a" name="age" class="bg-gray-100 rounded px-4 py-2 mb-4">
            </div>
          
      
              
              <div >
                  <input type="submit" value="Submit" @click='inputVale' class="px-8 py-2 text-white bg-green-500 rounded-lg hover:bg-green-600 focus:shadow-outline focus:outline-none focus:ring-2 ring-offset-current ring-offset-2">
              </div>
          </div>
      </div>                            
    </form>
</div>
</div>


  <!-- my main.js -->

  <script src="./main.js"></script>

  

</body>



</html>